.vs
.dockerignore
Logs/
bin/
obj/
publish/
EngTaskGradingNetBESolution/certs/aspnetapp.pfx
EngTaskGradingNetBESolution/EngTaskGradingNetBE/appsettings.Release.json
EngTaskGradingNetBESolution/EngTaskGradingNetBE/appsettings.Production.json
EngTaskGradingNetBESolution/docker-compose.release.yml
EngTaskGradingNetBESolution/docker-compose-release-build.bat
docker-release/docker-compose.yml
